.container {
    height: 100vh;
  }
  
  .vh-100 {
    min-height: 100vh !important;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  